<header>
    <h1 class="logo">Test routing</h1>
    <nav class="navigation">
        <ul>
            <li>
                <button route="/">Home</button>
            </li>
            <li>
                <button route="/about">About</button>
            </li>
            <li>
                <button route="/contact">Contact</button>
            </li>
        </ul>
    </nav>
</header>